.wd-navigation {
  background-color: white;
  list-style: none; /* remove bullet points */
  padding: 0px;
  width: 125px;
  margin: 0px;
  margin-left: 20px;
}
.wd-navigation li {
  padding-left: 10px;
  margin-bottom: 10px; /* add space between list items */
  margin-top: 10px; /* add space between list items */
  padding-top: 10px;
  padding-bottom: 10px;
}
.wd-navigation li.wd-active {
  border-left: 2px solid black;
}
.wd-navigation li.wd-active a {
  color: black;
}

/* .wd-navigation a {
  color: #c70000;
  text-decoration: none;
} */

a {
  color: #c70000; /* override color of hyperlinks */
  text-decoration: none; /* remove underline from hyperlinks */
}

/* text-transform: uppercase; /* Convert text to uppercase */
/* font-weight: bold; Set the font weight to bold */

.breadcrumb-item.active::before {
  content: " > "; /* override separator; was '/' */
}

/* .breadcrumb-item a {
  color: #c70000; 
} */
